$global-colors: (
	/* 
		Base Colors:
	*/ --lightgray: #f5f5f5,
	--white: #fff,
	--black: #000,
	--purple: #905ff4,
	--gray: #939393,

	/* 
		Light Colors:
	*/ --light-primary-color: var(--purple),
	--light-secondary-color: var(--lightgray),
	--light-primary-bg-color: var(--white),
	--light-primary-text-color: var(--black),
	--light-accent-text-color: var(--white),
	--light-secondary-text-color: var(--gray),
	/* 
		Main Theme Colors:
	*/ --primary-color: var(--light-primary-color),
	--secondary-color: var(--light-secondary-color),
	--primary-bg-color: var(--light-primary-bg-color),
	--accent-text-color: var(--light-accent-text-color),
	--primary-text-color: var(--light-primary-text-color),
	--secondary-text-color: var(--light-secondary-text-color)
);
