$scrollbar-width: 0.5rem;
$scrollbar-background: #dfdfdf;
$scrollbar-color: var(--primary-color);

.ChatPanelWindow {
	flex-grow: 1;
	overflow-y: auto;

	/* Плашка-бегунок и фон */
	scrollbar-color: $scrollbar-color $scrollbar-background;
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}
	&::-webkit-scrollbar-thumb {
		/* Плашка-бегунок */
		background: $scrollbar-color;
	}
	&::-webkit-scrollbar-track {
		/* Фон */
		background: $scrollbar-background;
	}
}

.messages {
	padding: 1rem 2rem;
	padding-right: calc(1rem + $scrollbar-width);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-basis: auto;
	row-gap: 0.5rem;
}
