$scrollbar-width: 0.5rem;
$scrollbar-background: #dfdfdf;
$scrollbar-color: var(--primary-color);

.ChatPanelWindow {
	flex-grow: 1;
	overflow-y: auto;

	/* Плашка-бегунок и фон */
	scrollbar-color: $scrollbar-color $scrollbar-background;
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}
	&::-webkit-scrollbar-thumb {
		/* Плашка-бегунок */
		background: $scrollbar-color;
	}
	&::-webkit-scrollbar-track {
		/* Фон */
		background: $scrollbar-background;
	}
}

.messages {
	padding: 1rem 2rem;
	padding-right: calc(1rem + $scrollbar-width);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-basis: auto;
	row-gap: 0.5rem;
}

.message {
	width: max-content;
	max-width: 500px;
	padding: 0.6rem 0.8rem;

	&Text {
		white-space: normal;
		word-break: break-all;
		font-size: 0.93rem;
		line-height: 1.3rem;
	}
}

.message.to {
	color: var(--accent-text-color);
	background-color: var(--primary-color);
	border-radius: 0.7rem 0.7rem 0 0.7rem;
	align-self: flex-end;
}
.message.from {
	color: var(--primary-text-color);
	background-color: var(--secondary-color);
	border-radius: 0.7rem 0.7rem 0.7rem 0;
}
