.UIButton {
  cursor: pointer;

  padding: 16px 24px;
  text-align: center;

  border-radius: 8px;

  font: 600 var(--font-m);

  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
}

@import "styles/UIButton.variant";
@import "styles/UIButton.size";
